.cart {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-header {
    text-align: center;
}

.cart-items {
    width: 35%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item-card {
    width: 100%;
    height: auto;
    margin: 2rem 0 0 0;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.item-img {
    width: 100px;
    height: auto;
}

.item-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.item-desciprtion {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-name {
    width: 150px;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.item-quantity-container {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-quantity {
    margin-left: 1rem;
}

.change-quantity-buttons {}

.change-quantity-button {
    font-size: 1.5rem;
    background-color: white;
    border: none;
    cursor: pointer;
}

.item-price {
    width: 55px;
    margin-left: 1rem;
}

.remove-item-button {
    margin-left: 2rem;
    font-size: 1.5rem;
    background-color: white;
    border: none;
    cursor: pointer;
}

.item-buttons {
    display: flex;
    justify-content: center;
}