.header {
    position: sticky;
    top: 0;
    left: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3rem 1rem 3rem;
    padding-top: 1rem;
    border-bottom: solid 1px black;
    background-color: white;
}

.header-text {
    margin-bottom: 1rem;
}

.header-links {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.link {
    font-size: large;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.cart-icon {
    font-size: 1.5rem;
}

.cart-icon-badge {
    font-size: 1rem;
    position: fixed;
    top: 63px;
}